[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=0.1

# The name of the application
Name=Passwallet

# The path to the folder in which the executable is run
#Path= <FILE PATH WHERE YOU PASSWORDWALLET DIR >

# The executable of the application, possibly with arguments.
Exec= <FILE PATH WHERE YOU PASSWORDWALLET DIR > passwordwallet.py

# The name of the icon that will be used to display this entry
Icon= <FILE PATH WHERE YOU PASSWORDWALLET DIR> pass-walletlogo.png

# Describes whether this application needs to be run in a terminal or not
#Terminal=false

